@import url(apropos.css);

.first-section-mespages{
  width: 80%;
  margin: auto;
}

.icones{
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 20% 20%;
    grid-template-rows: 80%;
}
.icones figure{
    margin-bottom: 30px;
}
.icones figure a{
    display: flex;
    align-items: center;
    transition: .4s ease-in-out;
}

.icones figure:hover{
    opacity: .8;
    transition: .4s ease-in-out;
}
.icones figure a img:hover{
    transform: scale(1.1);
}

.icones figure a span{
    margin-left: 10px;
    font-weight: 500;
}

.icones figure a{
    color: #ffff;
}

.icones a img{
    width: 50px;
    height: 50px;
    transition: ease-in-out .4s;
}

/*Ecran de moins de 500px*/
@media screen and (max-width: 500px){
    .icones{
        grid-template-columns: 50% 50%;
        margin-bottom: 80px;
    }
    .first-section-mespages {
        width: 100%;
    }
    .icones a img{
        width: 50px;
        height: 50px;
    }
    
   
}